// Here you can add other styles
.scoreToBeat {
  h1{
    font-size: 10em;
    line-height: 68px;
    small{
      font-size:25%;
      font-weight:normal;
      display: block;
      color:#9BA2AB;
    }
  }
}
.cardFull{
  min-height: 70px;
  height:70px;
}

.scoreCard{
  padding: 5px;
  b{
    display: block;
    font-size: 20px;
  }
}
.updating{
  text-align: center;
  font-size: 14px;
}

.card{
  .name{ font-size: 22px;
  text-align: center}
  button{
    font-size: 26px;
    height: 72px;
    font-weight:bold;
    margin-bottom: 20px;
  }
  .btn-danger{
    height:40px;
    font-size: 18px;
    margin-top: 10px;
  }

  .newPlayer{
    background: none;
    border: none;
    font-size: 135px;
    color: $btn-primary-bg;
    line-height: 1;
    height:auto;
  }
}
.ngdialog-content{
  .score{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
  }
}

.disabled{
  pointer-events:none;
  background-color: #bf4055;
}
.player{
  min-height:450px;
}


.elimination{
  background: #400191;
  line-height:1;
  padding: 25px 0;
  white-space: normal;
  word-wrap:break-word;
  margin-bottom: 20px;
  color:#fff;
  font-weight: bold;
  font-size: 24px;
}
.topPlayers {
  margin-bottom: 30px;
  height:55px;
  .topPlayer {
    background: #7ab800;
    line-height: 1;
    padding: 15px 0;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
}
.add{
  background-color: #f8cb00!important;
}