<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label" for="select">Which Location</label>
        <select id="select"  ng-model="vm.currentLocation" name="select" class="form-control" size="1">
            <option value="">Select Location</option>
                                    <option ng-repeat="option in vm.locations" ng-value="option.id">{{option.locationName}}</option>
                                </select>
                                <button ng-click="vm.goToDisplay()" class="btn mt-q btn-block btn-primary">Go!</button>
    </div>

</div>
r