<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label" for="select">Which Location</label>
        <select id="select"  ng-model="vm.newGameLocation" name="select" class="form-control" size="1">
            <option value="">Select Location</option>
                                    <option ng-repeat="option in vm.locations" ng-value="option.id">{{option.locationName}}</option>
                                </select>
    </div>

</div>
<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label" for="select">Type of Game</label>
        <select id="select2"  ng-model="vm.newGameType" name="select" class="form-control" size="1">
            <option value="">Select Game Type</option>
                                    <option ng-value="1">Nightly Top 5</option>
                                    <option ng-value="2">Saturday Night</option>
                                </select>
                                <button ng-click="vm.createNewGame()" class="btn mt-q btn-block btn-primary">Start New Game</button>
    </div>

</div>
