<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label">First Name</label>
        <input id="name" type="text" ng-model="vm.newPlayer.firstName" name="select" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label" >Last Name</label>
        <input id="lastName" type="text" ng-model="vm.newPlayer.lastName" name="select" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <div class="score">Score: {{vm.newPlayer.score}}</div>
        <bc-keypad bc-number-model="vm.newPlayer.score"
                   bc-right-button="submit"
                   bc-max-length="3"
                   bc-right-button-method="vm.addScore()"
                   bc-left-button="backspace"></bc-keypad>
    </div>
</div>


