<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label">Name</label>
        <input id="name" type="text" disabled ng-model="::vm.roundPlayer.name" name="select" class="form-control">
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="score">Score: {{vm.roundScore}}</div>
            <bc-keypad bc-number-model="vm.roundScore"
                       bc-right-button="submit"
                       bc-max-length="3"
                       bc-right-button-method="vm.addRound()"
                       bc-left-button="backspace"></bc-keypad>
        </div>
    </div>
</div>

