<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label">First Name</label>
        <input disabled id="name" type="text" ng-model="vm.updatePlayer.firstName" name="select" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label" >Last Name</label>
        <input disabled id="lastName" type="text" ng-model="vm.updatePlayer.lastName" name="select" class="form-control">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <label class="form-control-label">Score</label>
        <input id="score" type="text" ng-model="vm.updatePlayer.newScore" name="select" class="form-control">
        <button ng-click="vm.updateScore()" class="btn mt-q btn-block btn-primary">Update Score</button>
    </div>
</div>
