<div class="form-group row">
    <div class="col-sm-12">
        <h3>{{::vm.roundPlayer.name}} Scores</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="score in vm.tempScore track by $index">{{::score}}</li>
        </ul>
    </div>
</div>
