<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-2" ng-repeat="player in vm.game.players track by $index" ng-init="objectIndex = $index" >
            <div class="card player" >
                    <b class="name">{{::player.name}}</b>
                <div class="scoreCard" ng-if="player.show" >
                    <div ng-if="!player.playerClear">
                        <b>Top Five:{{::player.totalScore}}</b>
                    <b>Lowest: {{::player.lowestScore}}</b>
                    <b>Games Played: {{::player.gamesPlayed}}</b>
                    <button ng-click="vm.addRoundPopup(objectIndex)" class="btn btn-block btn-primary">Add</button>
                    <button ng-click="vm.viewGames(objectIndex)" class="btn btn-block btn-primary">List</button>
                        </div>
                    <button ng-click="vm.removePlayer(objectIndex)" class="btn btn-block btn-danger">Toggle</button>
                    </div>
                </div>
            </div>
        <div class="col-sm-2" >
            <div class="card" >
                <b class="name">New Player</b>
                <button ng-click="vm.addScorePopUp()"  class="newPlayer">+</button>
            </div>
        </div>
        </div>
    </div>

        <div class="col-sm-6">
            <div ng-click="vm.game.moveToNextRound()" class="card cardFull card-inverse card-danger text-center">
                <div class="card-block">
                    <h1>End Round</h1>
                </div>
            </div>
        </div>
<div class="col-sm-6">
    <div ng-click="vm.game.forceReconnect()" class="card cardFull card-inverse card-danger text-center">
        <div class="card-block">
            <h1>Force Reconnect</h1>
        </div>
    </div>
</div>
    </div>
