<style>
    .btn{
        margin:10px;
    }
    ul{
        min-height: 40px;
        margin:0;
    }
    .list-group{
        margin-top:20px;
        margin-bottom: 30px;
    }
</style>
<h1>The Final 12</h1>
<div class="col-sm-12"  class="" style="border:1px solid #2a435c;">
    <div>
        <ul dnd-list="vm.players" class="list-unstyled clearfix">
            <li ng-repeat="player in vm.game.players track by $index" dnd-draggable="player" dnd-moved="console.log('hey')" class="btn btn-success btn-lg">{{player.name}}</li>
        </ul>
     </div>
</div>

<div  ng-repeat="round in vm.currentRoundRules.rounds track by $index" style="width:100%">
<h1>Round {{$index + 1}}: {{round.max}} Players</h1>
<div style="border:1px solid #2a435c;">

            <ul dnd-list="round.players" class="list-inline clearfix" dnd-disable-if="round.players.length >= round.max">
                <li ng-repeat="player in round.players"
                    dnd-draggable="player"
                    dnd-moved="console.log('test')" class="btn btn-success btn-lg"> {{player.name}}</li>

                <li class="dndPlaceholder btn btn-outline-primary btn-lg">
                    Move Player To Next Round
                </li>
            </ul>
</div>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4" ng-repeat="player in vm.currentRoundRules.rounds[2].players">
            <ul class="list-group">
                <li class="active"><b>{{player.name}}</b></li>
                <li class="list-group-item"><b>40's</b> <input type="tel" class="form-control" ng-model="player.finalGames[0]" placeholder="Score"></li>
                <li class="list-group-item"><b>50's</b> <input type="tel" class="form-control" ng-model="player.finalGames[1]" placeholder="Score"></li>
                <li class="list-group-item"><b>100's</b> <input type="tel" class="form-control" ng-model="player.finalGames[2]" placeholder="Score"></li>
                <li class="list-group-item"><b>Sub Total: </b> {{(player.finalGames[0] * 1) + (player.finalGames[1] * 1) + (player.finalGames[2] * 1)}}</li>
                <li class="list-group-item"><b>720 Count Down</b>
                    <ul class="list-group">
                        <li class="list-group-item"><input type="tel"  class="form-control" ng-model="player.finalGames[3]" placeholder="Score"></li>
                        <li class="list-group-item"><input type="tel"  class="form-control" ng-model="player.finalGames[4]" placeholder="Score"></li>
                    </ul>
                </li>
                <li class="list-group-item"><b>Call Your Shot</b>
                    <ul class="list-group">
                        <li class="list-group-item"><input type="tel"  class="form-control" ng-model="player.finalGames[5]" placeholder="Score"></li>
                        <li class="list-group-item"><input type="tel"  class="form-control" ng-model="player.finalGames[6]" placeholder="Score"></li>
                    </ul>
                </li>
                <li class="list-group-item"><b>Free Style</b><input type="tel" class="form-control" ng-model="player.finalGames[7]" placeholder="Score"></li>
                <li class="list-group-item"><h3>Total: </h3> {{vm.getSum(player.finalGames)}}</li>
            </ul>
        </div>
    </div>
</div>