<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6"><h1>Score to Beat: <span ng-if="!vm.refreshTop5">{{::vm.game.scoreToBeat}}</span></h1></div>
        <div class="col-sm-6">
            <h1><timer interval="1000" autostart="false" countdown="480">{{minutes}}:{{sseconds}}</timer> Time Left</h1>
        </div>
        <div class="col-sm-12">
            <h1>Top Scores</h1>
            <div class="topPlayers">
            <div ng-if="!vm.refreshTop5" class="row">
            <div class="col-sm-2 " ng-repeat="player in vm.game.topPlayers track by $index" ng-init="objectIndex = $index" >
                <div class="btn btn-block topPlayer">
                    <b class="name">{{::player.name}}: {{::player.score}}</b>
                </div>
            </div>
            </div></div>
        </div>
    </div>
        </div>
    </div>
<div class="col-sm-12">
    <h1>Player List</h1>
    <div class="row">
        <div class="col-sm-2" ng-repeat="player in vm.game.players track by $index" ng-init="objectIndex = $index" >
            <div class="btn btn-block elimination" ng-click="vm.addRoundPopup(objectIndex)"  ng-if="player.show">
                <b class="name">{{::player.name}}: {{::player.score}}</b>
            </div>
        </div>
        <div class="col-sm-2" >
            <div ng-click="vm.addScorePopUp()" class="elimination add btn btn-block" >New Player +</div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div ng-click="vm.startClock()" class="card cardFull card-inverse card-primary text-center">
        <div class="card-block">
            <h1>Start Timer</h1>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div ng-click="vm.pauseClock()" class="card cardFull card-inverse card-primary text-center">
        <div class="card-block">
            <h1>Pause Timer</h1>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div ng-click="vm.increaseClock()" class="card cardFull card-inverse card-primary text-center">
        <div class="card-block">
            <h1>+ 1 Min</h1>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div ng-click="vm.increasePlayerLimit()" class="card cardFull card-inverse card-success text-center">
        <div class="card-block">
            <h1>Add Slot</h1>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div ng-click="vm.game.moveToNextRound()" class="card cardFull card-inverse card-danger text-center">
        <div class="card-block">
            <h1>End Round</h1>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div ng-click="vm.game.forceReconnect()" class="card cardFull card-inverse card-danger text-center">
        <div class="card-block">
            <h1>Force Reconnect</h1>
        </div>
    </div>
</div>
</div>

