<h1>Elimition Round</h1>

<div ng-repeat="player in vm.players" class="col-sm-2">
    <div class="card">
        <div class="card-header">
            <b>Lane: {{player.lane}} - {{player.name}}</b>
        </div>
        <div class="card-block">
            <div class="card-text">
                <a ng-repeat="game in player.games track by $index" href="">
                    <span><b>{{game.score}}</b></span>
                </a>
            </div>
        </div>
        <div class="card-footer">
            Total Score: {{player.totalScore}}
        </div>
    </div>
</div>

