
<div ng-repeat="player in vm.game.topPlayers track by $index" ng-init="objectIndex = $index" class="col-sm-2">
    <div class="card" >
        <b class="name">Lane: {{::player.lane}} - {{::player.name}}</b>
        <div class="scoreCard" >
            <div>
                <button ng-repeat="game in player.games track by $index"  class="btn btn-block btn-primary">
                    <span  style="display: block; width: 100%" ng-click="vm.addRoundPopup(objectIndex, $index)" ng-if="game.score">{{game.score}}</span>
                    <span style="display: block; width: 100%"  ng-click="vm.addRoundPopup(objectIndex)" ng-if="!game.score">Add Score</span>
                </button>
                <h3>Total: {{player.totalScore}}</h3>
            </div>
        </div>
    </div>
</div>

