
<div class="col-sm-6">
        <a ng-click="vm.displayPopup()">
            <div class="card card-inverse card-primary text-center">
                <div class="card-block">
                    <h1>Display Mode</h1>
                </div>
            </div></a>
    </div>
    <div class="col-sm-6">
        <a ng-click="vm.newGamePopup()" href="">
            <div class="card card-inverse card-success text-center">
                <div class="card-block">
                    <h1>New Game</h1>
                </div>
        </div></a>
    </div>
