<div ng-if="!vm.started" class="col-sm-12">
    <h1 style="font-size:200px; text-align: center">
        Game Starting Soon
        </h1>
</div>
<div ng-if="vm.started" class="col-sm-12">
    <h1 style="font-size:200px; text-align: center">SCORE TO BEAT<BR>{{vm.scoreToBeat}}</h1>
    <h1 style="font-size:200px; text-align: center">TIME LEFT: {{vm.timer}}</h1>
</div>
